	{% extends 'base.html' %}
{% block title %}Contact Elpizo{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/fontello.css">
{% endblock %}
{% block right %}
		<h4>CONTACT INFORMATION</h4>
		<div style="padding:20px 0px;">
		<div>
		<h3>
			UK - LONDON
		</h3>
		<span>148 Brick Lane, London, E1 6RU <br/></span>
		</div>
		<div>
		<h3>
		CHINA - SHANGHAI
		</h3>
<span>SHANGHAI  No.1202, Building 1, 199 Lvshun Road, Shanghai 200080  <br/><br/></span>
<span>info@elpizostore.com <br/></span>
<span>press@elpizostore.com <br/></span>
<span>sales@elpizostore.com <br/></span>
		</div>
		</div>

		<div class="social">
		<a style="background-color:#ES1400;" href="https://www.facebook.com/pages/elpizo/357144480996552?fref=ts" class="icon-social-facebook" target="_blank"></a>
		<a style="background-color:#ES1400;" href="http://www.weibo.com/2676025753/profile?rightmod=1&wvr=5&mod=personinfo" class="icon-social-weibo" target="_blank"></a>
		<a style="background-color:#ES1400;" href=" https://twitter.com/ElpizoFashion" class="icon-social-twitter" target="_blank"></a>
		<a style="background-color:#ES1400;" href=" https://instagram.com/elpizo_fashion" class="icon-social-instagram" target="_blank"></a>

		</div>



{% endblock %}