/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

/*------------Reset-----------*/
*{
	outline: none!important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: "Calibri",serif,"Simhei";
	font-weight: 300;
	z-index: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000;
    box-shadow: none;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #000;
}

input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50
}

/*----------Global Setting-----------*/
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

h1{
	font-size: 48px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 26px;
}
h5{
	font-size: 22px;
}
h6{
	font-size: 18px;
}
a{
	-o-transition:color .3s ease-out, background .3s ease-in;
	-ms-transition:color .3s ease-out, background .3s ease-in;
	-moz-transition:color .3s ease-out, background .3s ease-in;
	-webkit-transition:color .3s ease-out, background .3s ease-in;
  /* ...and now override with proper CSS property */
	transition:color .3s ease-out, background .3s ease-in;
	display: block;
	text-decoration: none;
	color:#000;
}
a:hover{
	text-decoration: none;
	color:#000;
}
p,span,b,blockquote{
	line-height: 26px;
	font-weight: 300;
	font-family: "Calibri",serif;
}
b{
	font-weight: 700;
}
/*----------structure---------*/
.menu{
	width: 80%;
	height: 84px;
	margin: 0 auto;
	padding-top: 20px;
}
.menu>.row{
	overflow: visible;
	position: relative;
}
.menu>a{
	display: block;
	float: left;
	width: 20%;
	text-align: left;
}
.menubar{
	list-style: none;
	overflow: visible;
	position: relative;
}
.menubar>li{
	float: right;
	position: relative;
}
.menubar>li>a{
	display: block;
	-o-transition:all .2s ease-out, background .2s ease-in;
	-ms-transition:all .2s ease-out, background .2s ease-in;
	-moz-transition:all .2s ease-out, background .2s ease-in;
	-webkit-transition:all .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
	transition:all .2s ease-out, background .2s ease-in;
	text-align: center;
	background-color:#fff;
	color:#666;
	letter-spacing: 2px;
	font-size:1em;
	border-top: 2px solid #fff;
	padding-right: 20px;
	padding-left: 20px;
	height: 64px;
	line-height: 56px;
}
.menubar>li>a:hover{
	border-top: 2px solid #666;
	color: #000;
}
.sub-nav{
	display: block;
	position: absolute;
	top: 100%;
	z-index: 200;
	width: 100%;
	height: 300px;
	background-color: #fff;
	overflow: hidden;
	display: none;
	opacity: 0.75;
	padding-top: 32px;
}
.sub-nav>li{
	width: 100%;
}
.sub-nav>li>a{
	display: block;
	text-align: left;
	color: #333;
	letter-spacing: 2px;
	height: 32px;
	line-height: 32px;
	text-transform: uppercase;
	padding-left: 100px;
	font-size:12px;
}
.sub-nav>li>a:hover{
	text-decoration: underline;
	color: #000;
}
.content{
	margin: 0 auto;
}
/*---------------Footer--------------*/
#footer{
	border-top: 1px solid #333;
	padding-top: 20px;
}
#footer p{
	font-size: 12px;
}


/*div properties*/
.vegas-background{
	z-index: -1;
}
.wrap{
	z-index: 1024;
}
.top{
	margin: auto;
	text-align: center;
	padding-top:160px;
	background: transparent;
	z-index: 1024;
}
.logo{
	width: 65%;
	height: 450px;
	margin:auto;
	text-align: center;
	border: 3px solid #fff;
	z-index: 99;
}
.logo>img{
	display: block;
	margin: 0 auto;
}
.nav-wrap{
	text-align: center;
}
.nav{
	display: inline-block;
	list-style: none;
	text-align: center;	
	z-index: 2048;
	overflow: hidden;
	padding: 0px;
}
.nav li{
	float: left;
	color:#fff;
	padding:20px 30px;
}
.nav li a{
	-o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
	transition:color .2s ease-out, background .2s ease-in;
	color:#fff;
	letter-spacing: 2px;
	font-size: 0.875em;
	font-weight: normal;
}
.nav li a:hover{
	color:#333;
}
/*----------collection---------*/
.collection{
	border: none!important;
}
.collection .cover{
	margin-bottom: 20px;
}
.collection .l{
	margin-bottom: 1.5rem;
}
.blog{
	display: block;
	padding:10px;
}
.blog a{
	color: #333;
	font: normal 14px Arial;
	letter-spacing: 2px;
}
.blog p{
	font: normal 14px Arial;
	margin:2px;
}
.blog .date{
	color:#ccc;
}
.more{
	float: right;
	opacity: 0.6;
	-o-transition:opacity .2s ease-out, background .2s ease-in;
	-ms-transition:opacity .2s ease-out, background .2s ease-in;
	-moz-transition:opacity .2s ease-out, background .2s ease-in;
	-webkit-transition:opacity .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
	transition:opacity .2s ease-out, background .2s ease-in;
}
.more:hover{
	opacity: 1;
}
.social{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.social a{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	color:#333;
	text-align: center;
	line-height: 30px;
	margin-right: 30px;
	font-size: 16px;
}
.social a:hover{
	color:#000;
}

/*---------------Shop--------------*/
.shop{
	float: left;
	margin-right: 30px;
}
.shop .shop_logo{
	width:180px;
	height: 100px;
	display: block;
	position: relative;
	margin-bottom: 10px;

}
.shop .shop_logo a{
	display: block;
	width: auto;
	border:none;
	margin:0;
	padding: 0;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}


.shop a.name{
	color:#9e9e9e;
	letter-spacing: 2px;
}	
.shop a.name:hover{
	color:#000;
	text-decoration:underline;
}	
.right .list{
	overflow: hidden;
	margin-bottom: 50px;
}
.right .list .shop a>img{
	margin:0;
	padding: 0;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

/*---------------Press--------------*/
.press{
	overflow: hidden;
	padding-bottom: 30px;
}
.press>.pag{
	margin-top: 5px;
	overflow: hidden;
}
.press>.pag>.prev{
	float: left;
}
.press>.pag>.next{
	float: right;
}
.press>.pag img{
	opacity: 0.6;
	-o-transition:opacity .2s ease-out, background .2s ease-in;
	-ms-transition:opacity .2s ease-out, background .2s ease-in;
	-moz-transition:opacity .2s ease-out, background .2s ease-in;
	-webkit-transition:opacity .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
	transition:opacity .2s ease-out, background .2s ease-in;
}
.press>.pag img:hover{
	opacity: 1;
}

