{% extends 'base.html' %}
{% block title %}About Elpizo{% endblock %}

{% block content %}
<div class="content container about">
	<div class="row">
		<div class="col s12 cover">
			{% if collection.cover %}
			<img src="{{ collection.cover.url }}" class="responsive-img">
			{% endif %}
		</div>
	</div>
	<div class="col s12 text">
		<h4>ABOUT ELPIZO</h4>
		<p>
		Elpizo carries with it a spirit of confidence and grace while being inspired by the ever-changing modernity of both London and Shanghai in 2013. The Elpizo woman is uncomplicated, graceful and confident, living passionately and finding excitement in her environment. She is adventurous and full of curiosity. She embodies the timelessness of love and life. The designs are a fusion of complementary elements –highlighting the different and diverse faces of 'beauty' and women today.</p>
		<p>
		Drawing from the experiences living in both London and Shanghai founder designer Yili Ye created Elpizo in the hopes of bringing together a simple, elegant and everyday brand. Referencing the past and blending with trends today; the Elpizo range is everyday-chic and intelligent.
		</p>
		<p>
		Each collection is made from the heart, and every detail takes into account this ethos. Each Garment made with hopeful passion and true care. Elpizo truly is a brand wearing its heart on its sleeve. 
		</p>
	</div>
</div>
{% endblock %}