{% extends 'base.html' %}
{% block title %}About Elpizo{% endblock %}

{% block right %}
		<h4>ABOUT ELPIZO<h4>
		<p>
Established in 2013, Elpizo is a high-end fashion brand based in London and China, focusing on design, quality and value. Elpizo produces a fabulous collection of garments, bringing unparalleled fashion experience to clientele.<br/>
Infusing modern design with classics, Elpizo carries with it a spirit of elegance and grace. On design, the fusion of complementary elements – from soft and delicate, through to edgy styles – highlight the diverse beauty of women, matching crafts- manship with excellent fabric selection, silhouettes and colours.<br/>
Not only is craftsmanship & creating garments that integrate well into daily life central to the brand, Elpizo being Greek for ‘Hope’, also aims to bring with it an ethos of love & hope.
		</p>
{% endblock %}