{% extends 'base.html' %}
{% block title %}About Elpizo{% endblock %}

{% block content %}
<div class="content container about">
	<div class="row">
	<div class="col s12 cover">
		{% if collection.cover %}
		<img src="{{ collection.cover.url }}" class="responsive-img">
		{% endif %}
	</div>
	<div class="col s12 text">
		<h4>ABOUT ELPIZO</h4>
		<p>
Elpizo carries with it a spirit of confidence and grace while being inspired by the ever-changing modernity of both London and Shanghai in 2013. The Elpizo woman is uncomplicated, graceful and confident, living passionately and finding excitement in her environment. She is adventurous and full of curiosity. She embodies the timelessness of love and life. The designs are a fusion of complementary elements –highlighting the different and diverse faces of 'beauty' and women today.</p>
		<p>
		Drawing from the experiences living in both London and Shanghai founder designer Yili Ye created Elpizo in the hopes of bringing together a simple, elegant and everyday brand. Referencing the past and blending with trends today; the Elpizo range is everyday-chic and intelligent.
		</p>
		<p>
		Each collection is made from the heart, and every detail takes into account this ethos. Each Garment made with hopeful passion and true care. Elpizo truly is a brand wearing its heart on its sleeve. 
		</p>
		<h4>FIND US</h4>
		<div class="store">
		<b>北京来福士</b>
		<p>北京市东城区东直门南大街1号来福士购物中心2层09铺</p>
		<p>2-9 Raffles City Shopping Center</p>
		<p>2nd Floor, No. 1 Dongzhimen South Street, Dongcheng District, Beijing</p>
		 
		<b>南京德基</b>
		<p>南京市中山路18号德基广场二期F415号商铺</p>
		<p>F415 Deji Plaza</p>
		<p>18 Zhongshan Road, Nanjing</p>

		<b>杭州万象城</b>
		<p>浙江省杭州市江干区富春路万象城购物中心4楼487号铺</p>
		<p>487 The Mixc Mall</p>
		<p>4th Floor, Fuchun Road, Jianggan District, Zhejiang, Hangzhou</p>

		<b>南通八佰伴</b>
		<p>南通市人民中路45号八佰伴1楼</p>
		<p>1st Floor, No. 45 Renming Zhong Road, Nantong</p>

		<b>青岛万象城</b>
		<p>山东省青岛市市南区山东路10号华润万象城 L226B号</p>
		<p>L226B The Mixc Mall</p>
		<p>10 Shandong Road,Nan District,Qingdao</p>
		</div>
	</div>
</div>
{% endblock %}