{% extends 'base.html' %}
{% block title %}Elpizo Blog{% endblock %}

{% block content %}
<div class="content container blog">
	<div class="row">
	{% for blog in l %}
	<div class="blog col s12">
	<div class="row">
	<a href='/blog/{{ blog.id }}/' class="col s12 title">{{ blog.title|upper }}</a>
	<p class = 'col s12 date'>{{ blog.pub_date|date:"SHORT_DATE_FORMAT" }}</p>
	<p class="img col s9">
		{% if blog.image_preview == 'h' %}
		{% for image in blog.get_preview_images %}
			{% if forloop.count <= 3 %}
			<img src = '{{ image.thumbnail_h.url }}' />
			{% endif %}
		{% endfor %}
		{% else %}
		{% for image in blog.get_preview_images %}
			{% if forloop.count < 3 %}
			<img src = '{{ image.thumbnail_v.url }}' />
			{% endif %}
		{% endfor %}
		{% endif %}
	</p>
	<a href='/blog/{{ blog.id }}/' class="col s2"><img src = '/static/images/more.jpg' class='more' width= '100px'></a>
	</div>
	</div>

	{% endfor %}
	</div>
</div>
{% endblock %}