{% extends 'base.html' %}
{% block title %}Elpizo {{ c.name }}{% endblock %}

{% block content %}

<div class="content container collection">
	<div class="row collection">
	<div class="col s12 cover">
		{% if c %}
		{% if c.cover %}
		<img src="{{ c.cover.url}}" class="responsive-img">
		{% endif %}
		{% else %}
		{% if collection.cover %}
		<img src="{{ collection.cover.url }}" class="responsive-img">
		{% endif %}
		{% endif %}
	</div>
	{% for i in c.lookbooks.all %}
	<div class="col s4 l">
	<a href="#"><img src="{{ i.image.url }}" class="hoverable responsive-img" /></a>
	</div>
	{% endfor %}
	</div>
</div>
{% endblock %}