	{% extends 'base.html' %}
{% block title %}Contact Elpizo{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/fontello.css">
{% endblock %}
{% block right %}
		<h4>CONTACT INFORMATION</h4>
		<div style="height:70px;">
		<div style="width:350px;float:left;">
		<h3>
		UK - LONDON
		</h3>
<span>Address: 148 Brick Lane, London, E1 6RU <br/></span>
<span>Email:   press@elpizostore.com <br/></span>
		</div>
		<div style="width:350px;float:left;">
		<h3>
		CHINA - SHANGHAI
		</h3>
<span>Address: 1202, 1, 199 Lvshun Road, Shanghai 200080 <br/></span>
<span>Email:   info@elpizostore.com <br/></span>
		</div>
		</div>
			<div class="width:400px;margin-top:26px;">
		<h3>STOCKLIST</h3>
<span>
No.17 Lane 820 Julu Road, Jing'an District Shanghai</span>
		</div>

		<div class="social">
		<a style="background-color:#ES1400;" href="https://www.facebook.com/pages/elpizo/357144480996552?fref=ts" class="icon-social-facebook" target="_blank"></a>
		<a style="background-color:#ES1400;" href="http://www.weibo.com/2676025753/profile?rightmod=1&wvr=5&mod=personinfo" class="icon-social-weibo" target="_blank"></a>
		<a style="background-color:#ES1400;" href=" https://twitter.com/ElpizoFashion" class="icon-social-twitter" target="_blank"></a>
		<a style="background-color:#ES1400;" href=" https://instagram.com/elpizo_fashion" class="icon-social-instagram" target="_blank"></a>

		</div>



{% endblock %}