{% extends 'base.html' %}
{% block title %}Contact Elpizo{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/fontello.css">
{% endblock %}
{% block right %}
		<h1>CONTACT INFORMATION</h1>
		<div style="width:300px;float:left;">
		<h3>
		CHINA - SHANGHAI
		</h3>
<span>Email: info@elpizostore.com <br/>Telephone: 0086 159 5875 5188<br/>
Room 1202, Building 1, 199 Lv Shub Road Hongkou District, Shanghai, China <br/>Postcode: 200080<br/>
		</span>
		</div>
		<div style="width:300px;float:left;margin-left:20px;">
		<h3>
		UK - LONDON
		</h3>
<span>Email: info@elpizostore.com <br/>Telephone: 0786 137 1673
		</span>
		</div>
		<div class="social">
		<a style="background-color:#ES1400;" href="http://weibo.com/MonsieurG1124" class="icon-social-weibo" target="_blank"></a>
		<a style="background-color:#ES1400;" href="http://instagram.com/monsieurg__
" class="icon-social-twitter" target="_blank"></a>
		<a style="background-color:#ES1400;" href="https://www.facebook.com/pages/Monsieur-G/572605696119802" class="icon-social-facebook" target="_blank"></a>
		</div>
			<div class="width:400px;float:left;position:relative;">
		<h3>STOCKLIST</h3>
<span>
Wolf & Badger, 32 Dover Street, Mayfair, London, W1S 4NE <br/>
Telephone: 020 3627 3191<br/>
Email: support@wolfandbadger.com<br/>
Opening hours: Monday to Wednesday 11am – 6:30pm Thursday – Saturday 11am – 7pm Sunday 12pm – 5pm</span>
		</div>


{% endblock %}