{% extends 'base.html' %}
{% block title %}Contact Elpizo{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/fontello.css">
{% endblock %}
{% block right %}
		<h4>CONTACT INFORMATION</h4>
		<div style="height:70px;">
		<div style="width:350px;float:left;">
		<h3>
		CHINA - LONDON
		</h3>
<span>Email: info@elpizostore.com <br/>
		</span>
		</div>
		<div style="width:350px;float:left;">
		<h3>
		UK - SHANGHAI
		</h3>
<span>Email: info@elpizostore.com <br/>
		</span>
		</div>
		</div>
			<div class="width:400px;margin-top:26px;">
		<h3>STOCKLIST</h3>
<span>
Wolf & Badger, 32 Dover Street, Mayfair, London, W1S 4NE <br/>
Telephone: 020 3627 3191<br/>
Email: support@wolfandbadger.com<br/>
Opening hours: Monday to Wednesday 11am – 6:30pm Thursday – Saturday 11am – 7pm Sunday 12pm – 5pm</span>
		</div>

		<div class="social">
		<a style="background-color:#ES1400;" href="https://www.facebook.com/pages/elpizo/357144480996552?fref=ts" class="icon-social-facebook" target="_blank"></a>
		<a style="background-color:#ES1400;" href="http://www.weibo.com/2676025753/profile?rightmod=1&wvr=5&mod=personinfo" class="icon-social-weibo" target="_blank"></a>
		<a style="background-color:#ES1400;" href=" https://twitter.com/ElpizoFashion" class="icon-social-twitter" target="_blank"></a>

		</div>



{% endblock %}