<!DOCTYPE html>
<html>
<head>

<meta name="keywords" content="Woman Fashion "/>
<meta name="description" content="Welcome to Elpizo, a high-end fashion brand where modern design meets the classics."/>
<meta name="robots" content="all" />
<meta name="author" content="elpizostore.com" />
<meta name="Copyright" content="Copyright elpizostore.com All Rights Reserved." />

<meta name="google-site-verification" content="LAnXFRfp_E_k5z3lcxwkWY47DVt4uvqvrwFFjBOxEEQ" />
<title>Elpizo</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<style>
	body{
  background: url(/static/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}
</style>
</head>
<body>
<div class="top">
<div class="logo">
<img src="/static/images/logo.png"/>
</div>
</div>
<div class="content">
<ul class="nav">
	<li><a href="/">HOME</a></li>
	<li><a href="/collection/">COLLECTIONS</a></li>
	<li><a href="/shop/">SHOP</a></li>
	<li><a href="/press/">PRESS</a></li>
	<li><a href="/blog/">BLOG</a></li>
	<li><a href="/about/">ABOUT</a></li>
	<li><a href="/contact/">CONTACT</a></li>
</ul>
</div>
<div class="footer">
</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49395007-1', 'elpizostore.com');
  ga('send', 'pageview');

</script>
</html>