<!DOCTYPE html>
<html>
<head>

<meta name="keywords" content="Woman Fashion "/>
<meta name="Description" content="Welcome to Elpizo, ahigh-end fashion brand where modern design meets the classics."/>

<title>Homepage</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<style>
	body{
		background-color:#f8e4e7;
		background-image: url("/static/images/background.jpg");
		background-repeat: no-repeat;
	}
</style>
</head>
<body>
<div class="top">
<div class="logo">
<img src="/static/images/logo.png" />
</div>
</div>
<div class="content">
<ul class="nav">
	<li><a href="/">HOME</a></li>
	<li><a href="/collection/">COLLECTIONS</a></li>
	<li><a href="/press/">PRESS</a></li>
	<li><a href="/blog/">BLOG</a></li>
	<li><a href="https://www.wolfandbadger.com/shop/designers/elpizo/">SHOP</a></li>
	<li><a href="/about/">ABOUT</a></li>
	<li><a href="/contact/">CONTACT</a></li>
</ul>
</div>
<div class="footer">
</div>
</body>
</html>